.header{
    position: absolute;
    width: 100%;
    height: 50px;
    padding: 5px;
}
.header .menu{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 50;
}
.header .menu li{
    position: relative;
    height: 100%;
    display: inline-block;
    float: right;
    padding-right: 30px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}
.mask{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.text-logo{
    height: 500px;
    line-height: 500px;
    position: absolute;
    padding-left: 10px;
    font-size: 100px;
}
.below-logo{
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 100px;
    padding-left: 50px;
    font-size: 18px;
}
.below-logo a{
    padding: 20px;
}
.circle-menu{
    position: fixed;
    float: right;
    right: 0px;
    top: 100px;
    z-index: 100;
}

.text-title{
    color: #ffffff;
}
.text-title .text-head{
    font-size: 100px;
    height: 250px;
    line-height: 250px;
    padding-left: 30px;
    padding-right: 30px;
}
.text-information{
    font-size: 30px;
    padding: 30px;
    overflow-y:scroll;
    height: 50%;
}
.page-container{
    position: absolute;
    width: 100%;
    padding: 0;
    overflow: hidden;
    height: 400%;
}
.pages{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#about{
    top: 25%;
}
#contact{
    top: 50%;
}
#honor{
    top: 75%;
}
#header-container{
    background-color: #ffffff;
    overflow:hidden;
    padding: 0px;
    top: 0px;
}
.section{
    position: absolute;
    width: 100%;
    height: 25%;
}
#header-container-page .page-container{
    top: 0;
}
#about-page:target .page-container{
    top: -100%;
}
#contact-page:target .page-container{
    top: -200%;
}
#honor-page:target .page-container{
    top: -300%;
}
#btn-menu{
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 300;
}
.nav-container{
    height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
}