.text-white{
    color: #ffffff;
}
.josenfin{
    font-family: 'Josefin Slab', serif;
}
.roboto{
    font-family: 'Roboto', sans-serif;
}
.full-width{
    width: 100%;
    height: 100%;
}
.transition{
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.delay-transition{
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}
.responsive-background{
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.background, .text-title{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

}
.section:hover .background{
    transform: scale(1.1);
}
.text-title{
    background: rgba(0,0,0,0.4);
}