<div class="container">
    <h4>Blocked Users and Organisations</h4>
    <div class="row">
        <div class="col-xs-6 col-md-2">
            <strong class="">User: </strong>
            <div class="flatCheckbox" ng-click="check('user')">
                <input type="checkbox" value="1" id="users" ng-checked="option.users">
                <label class="label" for="users"></label>
                <div></div>
            </div>
            </div>
        <div class="col-xs-6 col-md-2">
            <strong class="">Org: </strong>
            <div class="flatCheckbox" ng-click="check('org')">
                <input type="checkbox" value="1" id="org" ng-checked="option.orgs">
                <label class="label" for="org"></label>
                <div></div>
            </div>
        </div>

    </div>
    <hr/>
    <div class="row margin-top-5 block-user" ng-repeat="user in displayArray | orderBy: 'date': true" ng-show="userShow">
        <div class="col-xs-3 col-sm-3 col-md-1 col-lg-1 subtle-background padding10">
            <img src="http://placehold.it/50x50" class="img-responsive"/>
        </div>
        <div class="col-sm-9 col-xs-9 col-md-5 col-lg-3 subtle-background padding10">
            <strong>{{user.name}}</strong> was blocked by <a>{{user.blocker.name}}</a>
                <div class="text-muted">
                        {{user.date | date: 'dd MMM yyyy'}}
                    <button class="pull-right btn-small btn-form" ng-click="showDialog(user)">Unblock </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row delete-dialog-container margin-top-20" ng-show="dialogShow">
        <div class="delete-dialog center-block">
            <div class="small-banner"><strong>Delete Dialog</strong></div>
            <br/>
            <p class="center-block text-center">Do you really want to delete the events ?</p>
            <div class="row text-center">
                <button class="btn-small btn-inline btn-red " ng-click="removeBlocked(removedUsers)">Yes</button>
                <button class="btn-small btn-inline btn-follow center-block" ng-click="cancelDialog()">Cancel</button>
            </div>

        </div>
    </div>
</div>
