<div class="container">
    <div id="header" >
        <img ng-src="{{ currentNGO.banner }}" class="full-width img-responsive shadow">
        <input class="input-transparent" ng-show="edit.show" type="file" name="file" onchange="angular.element(this).scope().uploadBanner(this.files)" accept="image/*" />
    </div>

    <div class="row">
        <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4">

            <div>
                <a ui-sref="ngoHomePage({ id: currentNGO._id })">
                    <img ng-src="{{ currentNGO.picture }}" class="img-responsive center-block">
                </a>
                <input class="input-transparent" ng-show="edit.show" type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)" accept="image/*" />
            </div>

            <div class="ngo-profile" >
                <div class="show-information padding10" ng-show="!edit.show">
                    <p class="name text-center"><strong>{{currentNGO.name | undefinedString}}</strong></p>
                    <strong>Locations: </strong><br/>
                    <div ng-if="currentNGO.locations.length === 0">
                        Unknown data
                    </div>
                    <div ng-repeat="location in currentNGO.locations" class="text-center">
                        <i class="fa fa-map-marker "></i>
                        {{location}}
                    </div>
                    <strong>Phone number: </strong><br/>
                    <p class="text-center">
                        <i class="fa fa-phone-square"></i>
                        {{currentNGO.phone | undefinedString}}
                    </p>
                    <strong>Skills: </strong><br/>
                    <div ng-if="currentNGO.interests.length === 0" class="text-center text-italic">
                        Unknown data
                    </div>
                    <ul class="skill-sets">
                        <li class="tag" ng-repeat="cause in currentNGO.interests">
                            {{cause}}
                        </li>
                    </ul>
                </div>
                <div ng-show="edit.show" class="edit-information padding10">
                    <div class="input-container">
                        <label class="normal-label"><strong>Name: </strong></label>
                        <p ng-show="errors.name.violate" class="text-red"> {{errors.name.message}}</p>
                        <input ng-model="currentNGO.name" type="text" placeholder="{{currentNGO.name}}" class="normal-input"/>
                    </div>
                    <div class="input-container">
                        <label class="normal-label"><strong>Address: </strong></label>
                        <div ng-repeat="location in currentNGO.locations" class="ngo-location" ng-click="removeLocation(location)">
                            <i class="fa fa-map-marker "></i>
                            {{location}}
                            <i class="fa fa-times close-icon pull-right" ></i>
                        </div>
                        <input ng-model="input.address" type="text" placeholder="{{input.address}}" class="normal-input margin-top-5" ng-keydown="addLocation($event)"/>
                    </div>
                    <div class="input-container">
                        <label class="normal-label"><strong>Phone: </strong></label>
                        <p ng-show="errors.phone.violate" class="text-red">{{errors.phone.message}}</p>
                        <input ng-model="currentNGO.phone" type="text" placeholder="{{currentNGO.phone}}" class="normal-input margin-top-5"/>
                    </div>
                    <div class="input-container">
                        <label class="normal-label"><strong>Description: </strong></label>
                        <p ng-show="errors.description.violate" class="text-red">{{errors.description.message}}</p>
                        <textarea ng-model="currentNGO.description" type="text" placeholder="{{currentNGO.description}}" class="normal-input margin-top-5 scroll"></textarea>
                    </div>
                    <div class="input-container">
                        <label class="normal-label"><strong>Cause: </strong></label>
                        <div class="skill-sets">
                            <div class="tag" ng-repeat="cause in currentNGO.interests" ng-click="removeCause(cause)">{{cause}}</div>
                            <input class="hide-input" type="text" ng-keydown="createCause($event)" ng-model="inputCause"/>
                        </div>
                    </div>
                </div>
                <div class="padding10 border-top">
                    <div class="center-block text-center">
                        <button ng-show="edit.show" class="btn btn-follow" ng-click="cancelSave()">{{edit.state}}</button>
                        <button ng-show="edit.show" class="btn btn-red" ng-click="saveInformation()">Cancel</button>
                    </div>
                    <button ng-show="!edit.show"  class="btn btn-follow center-block" ng-click="editInformation()">Edit</button>

                </div>
            </div>
            <ul class="ngo-control-panel">
                <li ><a ui-sref="ngoDashboard.eventManage" class="text-capitalize text-info">Events</a></li>
                <li><a ui-sref="ngoDashboard.jobManage" class="text-capitalize text-info">Jobs</a></li>
                <li><a ui-sref="ngoDashboard.representativeManage" class="text-capitalize text-info">Representatives</a></li>
            </ul>
        </div>
        <div class="col-sm-12 col-xs-12 col-md-8 col-lg-8" ui-view="main">

        </div>
    </div>
</div>