<h4 class="text-center">Edit Job</h4><br/><h4 class="text-center">{{currentJob.position}}</h4>
<div class="edit-information padding10">
    <div class="input-container">
        <label class="normal-label"><strong>Name: </strong></label>
        <p ng-show="errors.name.violate" class="text-red"> {{errors.name.message}}</p>
        <input ng-model="currentJob.name" type="text" placeholder="{{currentJob.name}}" class="normal-input"/>
    </div>
    <div class="input-container">
        <label class="normal-label"><strong>Email: </strong></label>
        <input ng-model="currentJob.email" type="text" placeholder="{{currentJob.email}}" class="normal-input margin-top-5"/>
    </div>
    <div class="input-container">
        <label class="normal-label"><strong>Phone: </strong></label>
        <input ng-model="currentJob.phone" type="text" placeholder="{{currentJob.phone}}" class="normal-input margin-top-5"/>
    </div>
    <div class="input-container">
        <label class="normal-label"><strong>Description: </strong></label>
        <p ng-show="errors.description.violate" class="text-red">{{errors.description.message}}</p>
        <textarea ng-model="currentJob.description" type="text" placeholder="{{currentJob.description}}" class="normal-input margin-top-5 scroll"></textarea>
    </div>
    <div class="input-container">
        <label class="normal-label"><strong>From: </strong></label>
        <p ng-show="errors.time.violate" class="text-red">{{errors.time.message}}</p>
        <input ng-model="currentJob.input.startDate" type='date' placeholder="{{currentJob.startDate}}"  class="normal-input margin-top-5">
    </div>
    <div class="input-container">
        <label class="normal-label"><strong>To: </strong></label>
        <p ng-show="errors.time.violate" class="text-red">{{errors.time.message}}</p>
        <input ng-model="currentJob.input.endDate" type='date' placeholder="{{currentJob.endDate}}"  class="normal-input margin-top-5">
    </div>
    <button class="btn btn-follow center-block margin-top-20" ng-click="saveJob()" ng-show="!success">Save Event</button>
    <button class="btn btn-form center-block margin-top-20" ng-show="success">Successfully Saved</button>
</div>