<div class="container-fluid">
    <h1 class="text-center page-header">Volunteer Website Frequently Asked Questions</h1>

    <!-- SIDE NAVIGATION -->
    <div class="col-xs-2">
        <ul class="side-navigation nav nav-stacked affix col-xs-2">
            <li role="presentation" class="active"><a href="#about" ng-click="setActive($event)">About</a></li>
            <li role="presentation"><a href="#registration" ng-click="setActive($event)">Registration</a></li>
            <li role="presentation"><a href="#jobs" ng-click="setActive($event)">Jobs</a></li>
            <li role="presentation"><a href="#events" ng-click="setActive($event)">Events</a></li>
        </ul><!-- nav -->
    </div> <!-- SIDE NAVIGATION end -->

    <div id="content" class="col-xs-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 id="about" class="faq-header">About</h2>
            </div><!-- panel-heading -->
            <div class="panel-body">
                <h3 class="question">What is Volunteer website?</h3>
                <p class="question">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pellentesque nisl ac mi condimentum faucibus. Mauris pretium, purus nec mollis dapibus, dolor ipsum eleifend urna, ac interdum ex justo nec tellus. Donec eleifend dui vel sapien imperdiet, vitae vulputate purus dictum. Vestibulum mattis ligula ac magna feugiat bibendum. Suspendisse in libero arcu. Nulla a malesuada enim, sed sagittis nibh. In lobortis mi vel elit euismod, vulputate sollicitudin erat aliquam. Donec accumsan erat lectus, ut pellentesque velit eleifend vel. Sed at risus eros. Quisque in augue nulla. Cras interdum leo mi, non ullamcorper libero luctus id. Sed dapibus posuere nisl, eget auctor risus congue id.
                </p><!-- question -->
            </div><!-- panel-body -->
        </div><!-- panel -->

        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 id="registration" class="faq-header">Registration</h2>
            </div><!-- panel-heading -->
            <div class="panel-body">
                <h3 class="question">Do I have to pay to register?</h3>
                <p class="question">
                    No. You only need a valid email account to register and have access to all our website features.
                </p><!-- question -->
            </div><!-- panel-body -->
        </div><!-- panel -->

        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 id="jobs" class="faq-header">Volunteering Jobs</h2>
            </div><!-- panel-heading -->
            <div class="panel-body">
                <h3 class="question">How can I find a volunteering job?</h3>
                <p class="question">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pellentesque nisl ac mi condimentum faucibus. Mauris pretium, purus nec mollis dapibus, dolor ipsum eleifend urna, ac interdum ex justo nec tellus. Donec eleifend dui vel sapien imperdiet, vitae vulputate purus dictum. Vestibulum mattis ligula ac magna feugiat bibendum. Suspendisse in libero arcu. Nulla a malesuada enim, sed sagittis nibh. In lobortis mi vel elit euismod, vulputate sollicitudin erat aliquam. Donec accumsan erat lectus, ut pellentesque velit eleifend vel. Sed at risus eros. Quisque in augue nulla. Cras interdum leo mi, non ullamcorper libero luctus id. Sed dapibus posuere nisl, eget auctor risus congue id.
                </p><!-- question -->

                <h3 class="question">Will I get paid at my volunteering job?</h3>
                <p class="question">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pellentesque nisl ac mi condimentum faucibus. Mauris pretium, purus nec mollis dapibus, dolor ipsum eleifend urna, ac interdum ex justo nec tellus. Donec eleifend dui vel sapien imperdiet, vitae vulputate purus dictum. Vestibulum mattis ligula ac magna feugiat bibendum. Suspendisse in libero arcu. Nulla a malesuada enim, sed sagittis nibh. In lobortis mi vel elit euismod, vulputate sollicitudin erat aliquam. Donec accumsan erat lectus, ut pellentesque velit eleifend vel. Sed at risus eros. Quisque in augue nulla. Cras interdum leo mi, non ullamcorper libero luctus id. Sed dapibus posuere nisl, eget auctor risus congue id.
                </p><!-- question -->
            </div><!-- panel-body -->
        </div><!-- panel -->

        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 id="events" class="faq-header">Volunteering Events</h2>
            </div><!-- panel-heading -->
            <div class="panel-body">
                <h3 class="question">Why do I have to login to see an event page?</h3>
                <p class="question">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pellentesque nisl ac mi condimentum faucibus. Mauris pretium, purus nec mollis dapibus, dolor ipsum eleifend urna, ac interdum ex justo nec tellus. Donec eleifend dui vel sapien imperdiet, vitae vulputate purus dictum. Vestibulum mattis ligula ac magna feugiat bibendum. Suspendisse in libero arcu. Nulla a malesuada enim, sed sagittis nibh. In lobortis mi vel elit euismod, vulputate sollicitudin erat aliquam. Donec accumsan erat lectus, ut pellentesque velit eleifend vel. Sed at risus eros. Quisque in augue nulla. Cras interdum leo mi, non ullamcorper libero luctus id. Sed dapibus posuere nisl, eget auctor risus congue id.
                </p><!-- question -->

                <h3 class="question">How can I join an event?</h3>
                <p class="question">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pellentesque nisl ac mi condimentum faucibus. Mauris pretium, purus nec mollis dapibus, dolor ipsum eleifend urna, ac interdum ex justo nec tellus. Donec eleifend dui vel sapien imperdiet, vitae vulputate purus dictum. Vestibulum mattis ligula ac magna feugiat bibendum. Suspendisse in libero arcu. Nulla a malesuada enim, sed sagittis nibh. In lobortis mi vel elit euismod, vulputate sollicitudin erat aliquam. Donec accumsan erat lectus, ut pellentesque velit eleifend vel. Sed at risus eros. Quisque in augue nulla. Cras interdum leo mi, non ullamcorper libero luctus id. Sed dapibus posuere nisl, eget auctor risus congue id.
                </p><!-- question -->
            </div><!-- panel-body -->
        </div><!-- panel -->
    </div><!-- content -->
</div><!--container-->
