<div class="container padding10">
    <div class="row" >
        <div class="col-xs-12 col-sm-12 col-lg-3 col-md-3 user-profile">

            <div id="avatar">
                <img width="200" height="200" ng-src="{{ user.avatar }}" class="img-responsive center-block">
                <input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)" accept="image/*" />
            </div>

            <div class="information">
                <div ng-show="!edit.show" class="show-information padding10">
                    <p class="name text-center"><strong>{{user.firstName + " " +user.lastName}}</strong></p>
                    <p>
                        <i class="fa fa-map-marker pull-left"></i>
                        <p class="location text-center">{{user.address.city+ ", " + user.address.country}}</p>
                    </p>
                    <p>
                        <i class="fa fa-calendar pull-left"></i>
                        <p class="text-center">{{ user.birthday | date: 'MMM dd yyyy' }}</p>
                    </p>
                    <p>
                        <i class="fa fa-phone-square pull-left"> </i>
                        <p class="text-center">{{user.phone | undefinedString}}</p>
                    </p>
                    <ul class="skill-sets">
                        <p class="pull-left"><strong>Skill: </strong></p><br/>
                        <p class="text-italic text-center" ng-if="user.skills.length === 0"> No data shown</p>
                        <li class="tag" ng-repeat="skill in user.skills">
                            {{skill}}
                        </li>
                    </ul>
                    <ul class="skill-sets">
                        <p class="pull-left"><strong>Interests: </strong></p><br/>
                        <p class="text-italic text-center" ng-if="user.interests.length === 0"> No data shown</p>
                        <li class="tag" ng-repeat="skill in user.interests">
                            {{skill}}
                        </li>
                    </ul>
                </div>
                <div ng-show="edit.show" class="edit-information padding10">
                    <div class="input-container">
                        <label class="normal-label"><strong>First Name: </strong></label>
                        <p ng-show="errors.name.violate" class="text-red"> {{errors.name.message}}</p>
                        <input ng-model="user.firstName" type="text" placeholder="{{user.firstName}}" class="normal-input"/>
                    </div>
                    <div class="input-container">
                        <label class="normal-label"><strong>Last Name: </strong></label>
                        <p ng-show="errors.name.violate" class="text-red"> {{errors.name.message}}</p>
                        <input ng-model="user.lastName" type="text" placeholder="{{user.lastName}}" class="normal-input"/>
                    </div>
                    <div class="input-container">
                        <label class="normal-label"><strong>Address: </strong></label>
                        <input ng-model="user.location" type="text" placeholder="{{user.location}}" class="normal-input margin-top-5"/>
                    </div>
                    <div class="input-container">
                        <label class="normal-label"><strong>Email: </strong></label>
                        <p ng-show="errors.email.violate" class="text-red">{{errors.email.message}}</p>
                        <input ng-model="user.email" type="text" placeholder="{{user.email}}" class="normal-input margin-top-5"/>
                        </div>
                    <div class="input-container">
                        <label class="normal-label"><strong>Phone: </strong></label>
                        <p ng-show="errors.phone.violate" class="text-red">{{errors.phone.message}}</p>
                        <input ng-model="user.phone" type="text" placeholder="{{user.phone}}" class="normal-input margin-top-5"/>
                    </div>
                    <div class="input-container">
                        <label class="normal-label"><strong>Skills: </strong></label>
                        <div class="skill-sets">
                            <div class="tag" ng-repeat="skill in user.skills" ng-click="removeSkill(skill)">{{skill}}</div>
                            <input class="hide-input" type="text" ng-keydown="createSkill($event)" ng-model="input.skill" ng-blur="input.skill =''"/>
                        </div>
                    </div>
                    <div class="input-container">
                        <label class="normal-label"><strong>Interests: </strong></label>
                        <div class="skill-sets">
                            <div class="tag" ng-repeat="interest in user.interests" ng-click="removeInterest(interest)">{{interest}}</div>
                            <input class="hide-input" type="text" ng-keydown="createInterest($event)" ng-model="input.interest" ng-blur="input.interest =''"/>
                        </div>
                    </div>
                </div>
                <div class="padding10 border-top">

                    <div class="center-block">
                        <button ng-show="edit.show" class="btn btn-form center-block" ng-click="saveInformation()">{{edit.state}}
                            <i class="fa fa-check-circle" ng-show="edit.success"></i>
                        </button>
                    </div>
                    <button ng-show="!edit.show"  class="btn btn-follow center-block" ng-click="editInformation()">Edit</button>

                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-9 col-md-8 container" ng-show="!delete.state && !unFollow.state">
            <div class="user-notification">
                <div class="banner shadow"><strong>Upcoming events</strong></div>
                <div class="notification-container scroll container">
                    <a class=" row padding10" ng-repeat="event in events" ui-sref="events({id: event._id})">
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
                                <img src="http://placehold.it/40x40" class="center-block img-responsive"/>
                        </div>
                        <div class="col-md-10 col-xs-10 col-lg-10 col-sm-10 subtle-background padding10">
                            <strong>{{event.name}} </strong><br/>
                            {{event.startDate | date: 'MMM dd, yyyy. hh:mm  '}}
                        </div>
                    </a>
                </div>
            </div>
            <div class="row margin-top-5">
                <div class=" col-md-6 col-lg-6 col-xs-12 col-sm-12 margin-top-5">
                    <div class="user-activities">
                        <div class="banner"><strong>Represented Organisations: </strong></div>
                        <div class="activities-container scroll container">
                            <div ng-if="representOrganisations.length === 0" class="text-italic margin-top-20">
                                <p>You don't represent for any organisation</p>
                            </div>
                            <div ng-repeat="org in representOrganisations">
                                <div class="close-tag" ng-click="invokeUnFollow(org)">
                                    <i class="fa fa-times close-icon"></i>
                                </div>
                                <a ui-sref="ngoDashboard.eventManage({orgId: org._id})" >
                                    <div  class="organization-block row margin-top-5 margin-left-10">
                                        <img src="http://placehold.it/200x200" class="col-md-4 img-responsive">
                                        <div class="information-block row-md-8 xs-hide sm-hide">
                                            {{org.name}}<br/>
                                            <i class="fa fa-map-marker text-green"></i> {{org.locations[0]}}
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class=" col-md-6 col-lg-6 col-xs-12 col-sm-12 margin-top-5">
                    <div class="user-activities">
                        <div class="banner">
                            <strong> Managed Organisations: </strong>
                            <a ui-sref="register.ngo" class="pull-right text-white padding-right-10">
                                <i class="fa fa-plus text-white"></i>
                            </a>
                        </div>
                        <div class="activities-container scroll container">
                            <div ng-if="managedOrganisations.length === 0" class="text-italic margin-top-20">
                                <p>You don't have any organisation</p>
                                <a ui-sref="register.ngo" class="text-green">
                                    Create one
                                    <i class="fa fa-plus-circle"></i>
                                </a>
                            </div>
                            <div ng-repeat="org in managedOrganisations">
                                <div class="close-tag" ng-click="invokeDelete(org)">
                                    <i class="fa fa-times close-icon"></i>
                                </div>
                                <a  ui-sref="ngoDashboard.eventManage({orgId: org._id})"  class="organization-block row margin-top-5 margin-left-10">
                                    <img src="http://placehold.it/200x200" class="col-md-4 img-responsive">
                                    <div class="information-block row-md-8 xs-hide sm-hide">
                                        {{org.name}}<br/>
                                        <i class="fa fa-map-marker text-green "></i>  {{org.locations[0]}}
                                    </div>

                                </a>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-9 col-md-8 delete-dialog-container margin-top-20" ng-show="delete.state">
            <div class="delete-dialog center-block">
                <div class="small-banner"><strong>Delete Dialog</strong></div>
                <br/>
                <p class="center-block text-center">Do you really want to delete the organisation ?</p>
                <div class="row text-center">
                    <button class="btn-small btn-inline btn-red " ng-click="removeOrg()">Yes</button>
                    <button class="btn-small btn-inline btn-follow center-block" ng-click="deleteReset()">Cancel</button>
                </div>

            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-9 col-md-8 delete-dialog-container margin-top-20" ng-show="unFollow.state">
            <div class="delete-dialog center-block">
                <div class="small-banner"><strong>Delete Dialog</strong></div>
                <br/>
                <p class="center-block text-center">Do you really want to leave the organisation ?</p>
                <div class="row text-center">
                    <button class="btn-small btn-inline btn-red " ng-click="unFollowOrg()">Yes</button>
                    <button class="btn-small btn-inline btn-follow center-block" ng-click="unFollowReset()">Cancel</button>
                </div>

            </div>
        </div>
    </div>

</div>