<div class="container padding10">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-3 col-md-3 user-profile">
            <div>
                <img src="http://placehold.it/200x200" class="img-responsive center-block">
            </div>
            <div class="information">
                <div ng-show="!edit.show" class="show-information padding10">
                    <p class="name text-center"><strong>{{user.firstName + " " +user.lastName}}</strong></p>
                    <p>
                        <i class="fa fa-map-marker pull-left"></i>
                        <p class="location text-center">{{user.address.city+ ", " + user.address.country}}</p>
                    </p>
                    <p>
                        <i class="fa fa-calendar pull-left"></i>
                        <p class="text-center">{{ user.birthday | date: 'MMM dd yyyy' }}</p>
                    </p>
                    <p>
                        <i class="fa fa-phone-square pull-left"> </i>
                        <p class="text-center">{{user.phone | undefinedString}}</p>
                    </p>
                    <ul class="skill-sets">
                        <p class="pull-left"><strong>Skill: </strong></p><br/>
                        <p class="text-italic text-center" ng-if="user.skills.length === 0"> No data shown</p>
                        <li class="tag" ng-repeat="skill in user.skills">
                            {{skill}}
                        </li>
                    </ul>
                    <ul class="skill-sets">
                        <p class="pull-left"><strong>Interests: </strong></p><br/>
                        <p class="text-italic text-center" ng-if="user.interests.length === 0"> No data shown</p>
                        <li class="tag" ng-repeat="skill in user.interests">
                            {{skill}}
                        </li>
                    </ul>
                </div>
                <div ng-show="edit.show" class="edit-information padding10">
                    <div class="input-container">
                        <label class="normal-label"><strong>First Name: </strong></label>
                        <p ng-show="errors.name.violate" class="text-red"> {{errors.name.message}}</p>
                        <input ng-model="user.firstName" type="text" placeholder="{{user.firstName}}" class="normal-input"/>
                    </div>
                    <div class="input-container">
                        <label class="normal-label"><strong>Last Name: </strong></label>
                        <p ng-show="errors.name.violate" class="text-red"> {{errors.name.message}}</p>
                        <input ng-model="user.lastName" type="text" placeholder="{{user.lastName}}" class="normal-input"/>
                    </div>
                    <div class="input-container">
                        <label class="normal-label"><strong>Address: </strong></label>
                        <input ng-model="user.location" type="text" placeholder="{{user.location}}" class="normal-input margin-top-5"/>
                    </div>
                    <div class="input-container">
                        <label class="normal-label"><strong>Email: </strong></label>
                        <p ng-show="errors.email.violate" class="text-red">{{errors.email.message}}</p>
                        <input ng-model="user.email" type="text" placeholder="{{user.email}}" class="normal-input margin-top-5"/>
                        </div>
                    <div class="input-container">
                        <label class="normal-label"><strong>Phone: </strong></label>
                        <p ng-show="errors.phone.violate" class="text-red">{{errors.phone.message}}</p>
                        <input ng-model="user.phone" type="text" placeholder="{{user.phone}}" class="normal-input margin-top-5"/>
                    </div>
                    <div class="input-container">
                        <label class="normal-label"><strong>Skills: </strong></label>
                        <div class="skill-sets">
                            <div class="tag" ng-repeat="skill in user.skills" ng-click="removeSkill(skill)">{{skill}}</div>
                            <input class="hide-input" type="text" ng-keydown="createSkill($event)" ng-model="input.skill" ng-blur="input.skill =''"/>
                        </div>
                    </div>
                    <div class="input-container">
                        <label class="normal-label"><strong>Interests: </strong></label>
                        <div class="skill-sets">
                            <div class="tag" ng-repeat="interest in user.interests" ng-click="removeInterest(interest)">{{interest}}</div>
                            <input class="hide-input" type="text" ng-keydown="createInterest($event)" ng-model="input.interest" ng-blur="input.interest =''"/>
                        </div>
                    </div>
                </div>
                <div class="padding10 border-top">

                    <div class="center-block">
                        <button ng-show="edit.show" class="btn btn-form center-block" ng-click="saveInformation()">{{edit.state}}
                            <i class="fa fa-check-circle" ng-show="edit.success"></i>
                        </button>
                    </div>
                    <button ng-show="!edit.show"  class="btn btn-follow center-block" ng-click="editInformation()">Edit</button>

                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-9 col-md-8 container">
            <div class="user-notification">
                <div class="banner shadow"><strong>Upcoming events</strong></div>
                <div class="notification-container scroll container">
                    <div class="notification-brief row padding10" ng-repeat="event in events">
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
                            <a ui-sref="events({id: event._id})">
                                <img src="http://placehold.it/40x40" class="center-block img-responsive"/>
                            </a>
                        </div>
                        <div class="col-md-10 col-xs-10 col-lg-10 col-sm-10">
                            <strong>{{event.name}} </strong>
                            {{event.startDate}}</div>
                    </div>
                </div>
            </div>
            <div class="row margin-top-5">
                <div class=" col-md-6 col-lg-6 col-xs-12 col-sm-12 margin-top-5">
                    <div class="user-activities">
                        <div class="banner"><strong>Representatives</strong></div>
                        <div class="activities-container scroll container">
                            <div ng-repeat="org in representOrganisations" class="event row margin-top-5">
                                <a ui-sref="ngoDashboard.eventManage({orgId: org._id})">
                                    {{org.name}}
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class=" col-md-6 col-lg-6 col-xs-12 col-sm-12 margin-top-5">
                    <div class="user-activities">
                        <div class="banner"><strong> Organisations: </strong></div>
                        <div class="activities-container scroll container">
                            <div ng-repeat="org in managedOrganisations" class="event row margin-top-5">
                               <a ui-sref="ngoDashboard.eventManage({orgId: org._id})">
                                   {{org.name}}
                               </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>