<div class="">
    <div class="page-container">
        <div class="pages" >
            <div class="section" id="main" >
                <div class="slide-container">
                    <div class="slide-item"><img src="img/front-end/4_volunteer.jpg" class="full-width img-responsive shadow"></div>
                    <div class="slide-item"><img src="img/front-end/Teen-Volunteer.jpg" class="full-width img-responsive shadow"></div>
                    <div class="slide-item"><img src="img/front-end/volunteer.jpeg" class="full-width img-responsive shadow"></div>
                    <div class="slide-item"><img src="img/front-end/where-volunteer-work-resume.jpg" class="full-width img-responsive shadow"></div>
                </div><!-- slide-container -->
                <div class="center-block container" id="search-block">
                    <form novalidate class="row">
                        <h3 class="text-center text-white">Volunteer now!</h3>
                        <input class="col-md-6 col-xs-12 home-input left" type="text" name="keywords" placeholder="Key words" ng-model="input.searchBox.key">
                        <input class="col-md-6 col-xs-12 home-input" type="text" name="location" placeholder="Location" ng-model="input.searchBox.location">
                        <button class="btn btn-form margin-top-5 col-xs-12" ng-click="searchBox()">search</button>
                    </form>
                </div><!-- search-block -->
            </div><!-- section main -->

            <div class="section margin-top-20 shadow" id="info">
                <div class="text-information container-fluid">
                    <div class="col-sm-4 col-xs-12">
                        <h2>What do we do at Volunteer?</h2>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in fringilla dui, et consectetur enim. Proin bibendum quam sed magna pharetra dictum. Nam libero lacus, rutrum et justo sed, tempus convallis erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum eget magna fringilla, ultrices est vel, aliquet nisi. Integer vel enim eu arcu accumsan tristique. Pellentesque non tellus eget arcu bibendum viverra.
                    </div><!-- column left -->
                    <div class="col-sm-4 col-xs-12">
                        <h2>How can you help?</h2>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in fringilla dui, et consectetur enim. Proin bibendum quam sed magna pharetra dictum. Nam libero lacus, rutrum et justo sed, tempus convallis erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum eget magna fringilla, ultrices est vel, aliquet nisi. Integer vel enim eu arcu accumsan tristique. Pellentesque non tellus eget arcu bibendum viverra.
                    </div><!-- column middle -->
                    <div class="col-sm-4 col-xs-12">
                        <h2>Reviews from other volunteers</h2>
                        <blockquote>
                            <p>"Volunteer is such a great place to find how to help others!"</p>
                            <footer>John Smith</footer>
                         </blockquote>
                        <blockquote>
                            <p>"I got a great job and was able to help my community at the same time!"</p>
                            <footer>Jane Doe</footer>
                        </blockquote>
                    </div><!-- column right -->
                </div><!-- text-information -->
            </div><!-- section info -->

            <div class="section" id="most-popular">
                <div class="padding10 container-fluid">
                    <h2 class="text-center">Most popular organisations</h2>
                    <div class="col-xs-1" ng-click="moveLeft()">
                        <i class="fa fa-angle-left fa-2x pull-left arrow"></i>
                    </div>
                    <div class="organisations-bar row padding10 col-xs-10">
                        <!-- add database fill for most popular organisations -->
                        <div class="organisations-container container">
                            <div class="row">
                                <a ng-repeat="org in organisations" ui-sref="ngoHomePage({id: org._id})">
                                    <div class="honor-org" >
                                        <h4 class="text-center">{{org.name}}</h4>
                                        <div class="honor-picture">
                                            <img ng-src="{{ org.picture }}" width="150" height="150" class="img-responsive">
                                            <div class="honor-information">
                                                <strong>{{org.name}}</strong><br/>
                                                {{org.interests[0]}}
                                            </div>
                                        </div>
                                        <div class="star text-center">
                                            <div><i class="fa fa-star-o"></i></div>
                                            <div><i class="fa fa-star-o"></i></div>
                                            <div><i class="fa fa-star-o"></i></div>
                                            <div><i class="fa fa-star-o"></i></div>
                                            <div><i class="fa fa-star-o"></i></div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div><!-- organisations-bar -->
                    <div class="col-xs-1" ng-click="moveRight()">
                        <i class="fa fa-angle-right fa-2x pull-right arrow"></i>
                    </div>
                </div><!-- padding? -->
            </div><!-- section most-popular -->

        </div><!-- pages -->
    </div><!-- page-container -->
</div><!-- container -->
