<div class="container signup-form" >
    <h1>Organisation Information</h1>
    <div class="row margin-top-20">
        <div class=" col-md-6 col-xs-12 col-sm-12 col-lg-6">
            <p ng-show="error.name.violate" class="text-red">{{error.name.message}}*</p>
            <div class="group">
                <input type="text" ng-model="org.name" required autofocus/>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Organisation Name: <span class="text-red">*</span></label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class=" col-md-6 col-xs-12 col-sm-12 col-lg-6">
            <p ng-show="error.email.violate" class="text-red">{{error.email.message}}*</p>
            <div class="group">
                <input  type="text" ng-model="org.email" required/>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Email: <span class="text-red">*</span></label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class=" col-md-6 col-xs-12 col-sm-12 col-lg-6">
            <h4>Locations:</h4>
            <div class="margin-button-20">
                <div class="location-set tag" ng-repeat="location in org.locations" ng-click="removeLocation(location)">
                    <i class="fa fa-map-marker"></i> {{location}}
                </div>
            </div>
            <div class="group location-input">
                <input type="text" ng-model="input.location" required placeholder="Add your locations heres"
                        ng-blur="input.location=''" ng-keydown="createLocation($event)"/>
                <span class="highlight"></span>
                <span class="bar"></span>
                <div class="inline-label"><i class="fa fa-map-marker"></i></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class=" col-md-6 col-xs-12 col-sm-12 col-lg-6">
            <p ng-show="error.phone.violate" class="text-red">{{error.phone.message}}*</p>
            <div class="group">
                <input  type="text" ng-model="org.phone" required/>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Phone number: <span class="text-red">*</span></label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class=" col-md-6 col-xs-12 col-sm-12 col-lg-6">
            <label class="normal-label">Causes: </label>
            <div class="group">
                <div class="skill-sets">
                    <div class="tag" ng-repeat="cause in org.causes" ng-click="removeCause(cause)">
                        <i class="fa fa-tag"></i>
                        {{cause}}</div>
                    <input class="invisible-input" type="text" ng-keydown="createCause($event)" ng-model="input.cause"
                           ng-blur="input.cause= '' "/>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class=" col-md-6 col-xs-12 col-sm-12 col-lg-6">
            <label class="normal-label">Description: </label>
            <p ng-show="error.description.violate" class="text-red">{{error.description.message}}*</p>
            <textarea ng-model="org.description" class="textarea-wide">

            </textarea>
        </div>
    </div>
    <div class="row">
        <div class=" col-md-6 col-xs-12 col-sm-12 col-lg-6">
            <button class="btn btn-form pull-right" ng-click="register()">Register
                <i class="fa fa-check-circle fa-2x" ng-show="success"></i></button>
        </div>
    </div>

</div>