

.ng-enter,
.ng-leave,.ng-move
{
  position: relative;
  display: block;
}

/****************
* animate css
********/

[ui-view].ng-enter {
  -webkit-animation: 0.5s fadeInRight ease;
  -o-animation:   0.5s fadeInRight ease;
  animation:  0.5s fadeInRight ease;
}
[ui-view].ng-leave {
  display: none;
}

.tag.ng-enter{
    -webkit-animation: zoomIn 1s;
    -moz-animation: zoomIn 1s;
    -o-animation: zoomIn 1s;
    animation: zoomIn 1s;
}
.tag.ng-leave{
    -webkit-animation: zoomOut 1s;
    -moz-animation: zoomOut 1s;
    -o-animation: zoomOut 1s;
    animation: zoomOut 1s;
}


/** ng-profile
***/
.ngo-profile.ng-move{
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    animation: fadeIn 2s;
}

.ng-hide-add{
  -webkit-animation: 0.1s fadeOutRight ease;
  -o-animation:   0.1s fadeOutRight ease;
  animation:  0.1s fadeOutRight ease;
}
.ng-hide-remove{
  -webkit-animation: 1s fadeInLeft ease;
  -o-animation: 1s fadeInLeft ease;
  animation: 1s fadeInLeft ease;
}
.ng-show-add{
  -webkit-animation: 1s fadeInLeft ease;
  -o-animation: 1s fadeInLeft ease;
  animation: 1s fadeInLeft ease;
}
//delete dialog animation
.delete-dialog-container.ng-show-add{
  -webkit-animation: 1s fadeIn ease;
  -o-animation:   1s fadeIn ease;
  animation:  1s fadeIn ease;
}
.delete-dialog-container.ng-hide-remove{
  -webkit-animation: 1s fadeIn ease;
  -o-animation:   1s fadeIn ease;
  animation:  1s fadeIn ease;
}

//event-manage

.event-brief.ng-show-add{
  -webkit-animation: 0.5s fadeInRight ease;
  -o-animation:   0.5s fadeInRight ease;
  animation:  0.5s fadeInRight ease;
}
.event-brief.ng-hide-remove{
  -webkit-animation: 0.5s fadeInRight ease;
  -o-animation:   0.5s fadeInRight ease;
  animation:  0.5s fadeInRight ease;
}
.event-brief.ng-hide-add{
  -webkit-animation: 0.1s fadeOutRight ease;
  -o-animation:   0.1s fadeOutRight ease;
  animation:  0.1s fadeOutRight ease;
}
.event-brief.ng-show-remove{
  -webkit-animation: 0.1s fadeOutRight ease;
  -o-animation:   0.1s fadeOutRight ease;
  animation:  0.1s fadeOutRight ease;
}

//error message
.text-red.ng-show-add{
  -webkit-animation: 0.5s fadeIn ease;
  -o-animation:   0.5s fadeIn ease;
  animation:  0.5s fadeIn ease;
}
.text-red.ng-hide-remove{
  -webkit-animation: 0.5s fadeIn ease;
  -o-animation:   0.5s fadeIn ease;
  animation:  0.5s fadeIn ease;
}

//volunteer events show

.volunteer.ng-hide-remove,
.volunteer.ng-show-add{
  -webkit-animation: 1s flipInX ease;
  -moz-animation: 1s flipInX ease;
  -o-animation: 1s flipInX ease;
  animation: 1s flipInX ease;
}
.volunteer.ng-add-remove,
.volunteer.ng-hide-add{
  -webkit-animation: 0.1s flipOutX ease;
  -moz-animation: 0.1s flipOutX ease;
  -o-animation: 0.1s flipOutX ease;
  animation: 0.1s flipOutX ease;
}
//blocked user
/****************
*     .block-user.ng-enter.ng-enter-active,
.block-user.ng-leave {
  opacity: 1;
}

.block-user.ng-leave.ng-leave-active,
.block-user.ng-enter {
  opacity: 0;
}
***************/

//representative
.representative-container.ng-show-add,
.representative-container.ng-hide-remove{
  -webkit-animation: 0.1s fadeInRight ease;
  -o-animation:   0.1s fadeInRight ease;
  animation:  0.1s fadeInRight ease;
}
.event-header.ng-show-add,
.event-header.ng-hide-remove{
  -webkit-animation: 0.1s fadeIn ease;
  -o-animation:   0.1s fadeIn ease;
  animation: 0.1s fadeIn ease;
}
.event-description.ng-show-add,
.event-description.ng-hide-remove{
  -webkit-animation: 0.1s fadeIn ease;
  -o-animation:   0.1s fadeIn ease;
  animation: 0.1s fadeIn ease;
}
.info.ng-show-add,
.info.ng-hide-remove{
  -webkit-animation: 0.1s fadeIn ease;
  -o-animation:   0.1s fadeIn ease;
  animation: 0.1s fadeIn ease;
}
.advanced-features.ng-show-add,
.advanced-features.ng-hide-remove{
  -webkit-animation: 0.5s slideDown ease;
  -o-animation:  0.5s slideDown ease;
  animation:  0.5s slideDown ease;
  transform-origin: center top;
  backface-visibility: visible;
}
.advanced-features.ng-hide-add,
.advanced-features.ng-show-remove{
  -webkit-animation: 0.5s slideUp ease;
  -o-animation:  0.5s slideUp ease;
  animation:  0.5s slideUp ease;
  transform-origin: center top;
  backface-visibility: visible;
}

/****************
* animation for vertical bar
***************/
#menu-vertical.ng-show-add, #menu-vertical.ng-hide-remove{
  -webkit-animation: 0.25s slideInLeft ease-in-out;
  -o-animation: 0.25s slideInLeft ease-in-out;
  animation: 0.25s slideInLeft ease-in-out;
}
#menu-vertical.ng-hide-add, #menu-vertical.ng-show-remove{
  -webkit-animation: 0.25s slideOutLeft ease-in-out;
  -o-animation: 0.25s slideOutLeft ease-in-out;
  animation: 0.25s slideOutLeft ease-in-out;
}
@keyframes slideDown {
  from{
    -webkit-transform: rotateX(-100deg); /* Safari */
    transform: rotateX(-100deg);
  }
  to{
    -webkit-transform: rotateX(0deg); /* Safari */
    transform: rotateX(0deg);
  }
}
@-webkit-keyframes slideDown {
  from{
    -webkit-transform: rotateX(-100deg); /* Safari */
    transform: rotateX(-100deg);
  }
  to{
    -webkit-transform: rotateX(0deg); /* Safari */
    transform: rotateX(0deg);
  }
}
@keyframes slideUp {
  from{
    -webkit-transform: rotateX(0deg); /* Safari */
    transform: rotateX(0deg);
  }
  to{
    -webkit-transform: rotateX(90deg); /* Safari */
    transform: rotateX(90deg);
  }
}
@-webkit-keyframes slideUp {
  from{
    -webkit-transform: rotateX(0deg); /* Safari */
    transform: rotateX(0deg);
  }
  to{
    -webkit-transform: rotateX(90deg); /* Safari */
    transform: rotateX(90deg);
  }
}