@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab);
@import url(http://fonts.googleapis.com/css?family=Roboto:900);

body, form{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased !important;

}
ul{
  list-style-type: none;
}
.blue-background{
  background-color: rgba(52, 152, 219,1.0);;
}
.subtle-background{
  background: rgba(189, 195, 199,0.3);
}
.text-blue{
  color: rgba(52, 152, 219,1.0);;
}
.text-green{
  color: rgba(39, 174, 96,1.0);
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  background-color: transparent;
  color: #000000;
}
a:hover{
  text-decoration: none;
  color: #000000;
}
a:active{
  color: inherit;
  color: #000000;
}
ul{
  padding: 0 0;
  margin: 0 0;
}
.btn{
  position: relative;
  background: none;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  height: 40px;
  padding: 6px 6px;
}
.btn:hover{
  color: white;
}
.btn-small{
  position: relative;
  background: none;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  height: 30px;
  padding: 4px 4px;
  border: none;
  border: 1px solid white;
  border-radius: 3px ;
}
.btn-transparent{
  border: 1px solid #ffffff;
  border-radius: 3px;
  background-color: transparent;
}
.btn-transparent:hover{
  background-color: white;
  color: #000000;
  border: 1px solid #ffffff;
  border-radius: 3px;
  background-color: transparent;
  color: white;
}
.btn-transparent:focus{
    outline: 0;
}
button:focus{
  outline: 0;
}
.btn-form{
  background-color: rgba(46, 204, 113,1.0);
  color: white;
}
.btn-form:hover{
  background-color: rgba(46, 204, 113,0.8);
  color: white;
}
.btn-follow{
  background-color: rgba(52, 152, 219,1.0);
  color: white;
}
.btn-inline{
    display: inline-block;
}
.btn-red{
  background-color: #e74c3c;
  color: white;
}
.btn:focus{
  color: white;
}
.tag{
  position: relative;
  display: inline-block;
  background-color: rgba(46, 204, 113,1.0);
  color: white;
  line-height: 20px;
  height: 30px;
  padding: 5px;
  border-radius: 2px;
  margin-top: 3px;
  margin-left: 3px;
  -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  cursor: pointer;
}
.tag:hover{
  background-color: rgba(46, 204, 113,0.8);
  box-shadow: 1px 1px rgba(0,0,0,0.1);
}
.margin-top-20{
    margin-top: 20px;
}
.margin-top-5{
  margin-top: 5px;
}
.normal-input{
  font-size: 14pt;
  border: none;
  border: 1px solid rgba(46, 204, 113,0.8);
  width: 100%;
  border-radius: 5px ;
}
.input-container{
  position: relative;
}
.small-input{
  max-width: 300px;
}
.input-container textarea{
  resize: vertical;
}
.input-container label{
  font-size: 10pt;
}
.input-container .skill-sets{
  margin-top: 0px;
}
.hide-input{
  font-size: 14pt;
  padding: 5px;
  display: inline-block;
  min-width: 200px;
  border: none;
}
/******/
.group{
  position:relative;
  margin-bottom:45px;
}
input.location-input:focus ~ label, input.location-input:valid ~ label{
  left:-10px;
  font-size:12pt;
  color:rgba(52, 152, 219,1.0)
}
.group input{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width: 100%;
  border:none;
  border-bottom:1px solid #757575;
}
.group input::-webkit-input-placeholder {
  text-align: center;
  font-style: italic;
}

.group input::-moz-placeholder { /* Firefox 18- */
  text-align: center;
  font-style: italic;
}

.group input::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;
  font-style: italic;
}
.group input:-ms-input-placeholder {
  text-align: center;
  font-style: italic;
}
input:focus{
  outline:none;
}
/* LABEL ======================================= */
label{
  column-rule: #cccccc;;
  font-size:14pt;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label{
  top:-10px;
  font-size:12pt;
  color:rgba(52, 152, 219,1.0)
}

/* BOTTOM BARS ================================= */
.bar{
  position:relative;
  display:block;
  width:100%;
}
.bar:before, .bar:after{
  content:'';
  height:1px;
  width:0;
  bottom:1px;
  position:absolute;
  background:rgba(52, 152, 219,0.5);
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}
.invisible-input{
  font-size:18pt;
  padding:5px;
  display:inline-block;
  min-width: 200px;
  border:none;
}
.normal-label{
  position: relative;
  padding: 5px;
}
.signup-form{
  position: relative;
  padding-bottom: 100px;
}
.padding10{
  padding: 10px;
}
.margin-button-20{
  padding-bottom: 20px;
}
.border-top{
  border-top: 1px solid #cccccc;
}
.simple-date{
  position: relative;
  width: 60px;
  height: 60px;
  background: rgba(52, 152, 219,1.0);
  color: white;
  padding-top: 10px;
}
.square-date{
  position: relative;
  width: 60px;
  height: 60px;
  color: white;
  padding-top: 10px;
  border: 1px solid white;
  border-radius: 5px;
}
.square-date p{
  line-height: 30px;
  margin-top: -10px;
}
.comment-input-container{
  position: relative;
  width: 100%;
  border-top: 1px solid #cccccc;
  margin-top: 20px;
}
.comment-label{
  position: absolute;
  color: rgba(46, 204, 113,1.0);
  left: 95%;
  width: 50px;
  top: 30px;
}
.textarea-wide{
  position: relative;
  width: 100%;
  min-height: 120px;
  padding: 5px;
  border: 1px solid black;
}
textarea:focus{
  outline: 0;
}
.date-input-block{
  position: relative;
  width: 100%;
  height: 50px;
}
.date-input-block input[type='text']{
  position: relative;
  display: inline-block;
  height: 35px;
  border: none;
  border: 1px solid rgba(46, 204, 113,1.0);
  width: 40px;
  border-radius: 3px;
  line-height: 25px;
  text-align: center;
  font-size: 14px;
}
.date-input-block input[type='text'].year-input{
  width: 70px;
}

/****************
* search Page style
***************/
.button-round{
  position: relative;
  top: 10px;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 50%;
  background-color: rgba(231, 76, 60,1);
  color: white;
}
.button-round::before{
  content: '';
  position: absolute;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: rgba(231, 76, 60,0.4);
  top: -10px;
  left: -10px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s ;
  -ms-transition: all 0.5s ;
  -o-transition: all 0.5s ;
  transition: all 0.5s ;
}
.button-round:hover:before{
  content: '';
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: rgba(231, 76, 60,0.1);
  top: -25px;
  left: -25px;
}
.button-round, .button-expand:focus{
  outline: none;
}
.button-round:hover i{
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-animation: zoomInOut 1s linear 0s infinite alternate; /* Chrome, Safari, Opera */
  animation: zoomInOut 1s linear 0s infinite alternate;
}
/****************
* button-expand
***************/
.button-expand{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  background-color: rgba(231, 76, 60,1);
  color: white;
  margin-right:30px ;
  top: 10px;
}
.button-expand:hover i{
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  -webkit-animation: circle-rotate 5s linear 0s infinite alternate; /* Chrome, Safari, Opera */
  animation: circle-roate 5s linear 0s infinite alternate;
}
/****************
* Setting date input
***************/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.date-input-group label{
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
}
.date-input{
  border: none;
  background: white;
  width: 60px;
  height: 50px;
  display: inline-block;
  font-size: 15px;
}
.date-input:focus{
  outline: 0;
}
.month{
  width: 60px;
}
.text-white{
  color: white;
}
.feature-header{
  height: 30px;
  width: 100px;
  text-align: center;
  line-height: 30px;
}
.cause-set{
  position: relative;
  width: 100%;
  height: auto;
}
.cause-tag{
  position: relative;
  width: 100px;
  height: 25px;
  line-height: 25px;
  color: white;
  background: rgba(46, 204, 113,1.0);
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24), 0 1px 6px rgba(0, 0, 0, 0.12);
}
.white-input{
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  color: white;
}
.circle-number{
  background: transparent;
  color: transparent;
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
  border-radius:50% ;
  top: 5px;
}
.categories-chosen .circle-number{
  background: white;
  color: rgba(231, 76, 60,1);
}

/****************
* star design
***************/
.star{
  position: relative;
}
.star div{
  position: relative;
  display: inline-block;
  text-align: center;
}