/****************
* menu bar
***************/
#menu-horizontal{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  background: rgba(52, 152, 219,1.0);
  z-index: 300;
  box-shadow: rgba(0,0,0,0.15) 1px 1px 5px;
  line-height: 50px;
  color: white;

}
#menu-horizontal .login-section{
 position: relative;
 color: white;
 padding-right: 20px;
  display: inline-block;
}
.login-section div{
  display: inline-block;
  margin-right: 30px;
}
#search-section{
  position: relative;
  width: auto;
  height: 50px;
  display: inline-block;
  float: right;
  margin-right: 30px;
}
#search-section input{
  position: relative;
  display: inline-block;
  border: none;
  height: 30px;
  width: 150px;
  background: white;
  text-align: center;
  color: black;
  font-size: 15px;
  -webkit-transition: width 0.30s ease-in-out;
  -moz-transition: width 0.30s ease-in-out;
  -ms-transition: width 0.30s ease-in-out;
  -o-transition: width 0.30s ease-in-out;
  line-height: 30px;
}
#search-section label{
  position: absolute;
  width: 30px;
  height: 30px;
  right: 1px;
  top: 10px;
  line-height: 30px;
  color:rgba(52, 152, 219,0.5);
}
#search-section input[type=text]:focus{
  width: 250px;
}
.logo{
  position: relative;
  float: left;
  margin-left: 20px;
  left: 0px;
  line-height: 50px;
  height: 50px;
  width: 100px;
  font-size: 20px;
}
#common-link{
  position: relative;
  width: auto;
  height: 50px;
  list-style-type: none;
  display: inline-block;
}
#common-link li{
  position: relative;
  display: inline-block;
  color: white;
  width: 100px;
}
#control-box{
  position: absolute;
  margin-left: 20px;
  height: 50px;
  line-height: 50px;
  width: 50px;
  display: inline-block;
}
.logo-sm{
  position: relative;
  width: 200px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  top: 0px;
  text-align: center;
}
/****************
* end menu bar
***************/
/****************
* vertical menu for responsive
***************/
#menu-vertical{
  position: absolute;
  top: 50px;
  left: 0px;
  width: 250px;
  height: 100%;
  background: rgba(52, 152, 219,1.0);
  z-index: 200;
  color: white;
  padding: 5px;
  display: none;
}
#menu-vertical li{
  width: 100%;
  height: 30px;
  color: white;
  text-align: center;
  font-size: 15px;
}
/****************
* end vertical menu
***************/
[ui-view]{
  margin-top: 50px;
}

.header{
  position: absolute;
  width: 100%;
  height: 50px;
  padding: 5px;
}
.cover-block{
  position: absolute;
  background: transparent;
  height: 100%;
  width: 100%;
  display: table;
  text-align: center;
}
.cover-block div{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.header .menu{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 50;
}
.header .menu li{
  position: relative;
  height: 100%;
  display: inline-block;
  float: right;
  padding-right: 30px;
  text-align: center;
  line-height: 50px;
  font-size: 20pt;
}
.mask{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.circle-menu{
  position: fixed;
  float: right;
  right: 0px;
  top: 100px;
  z-index: 100;
}
.text-logo{
  font-size: 50pt;
}
.text-title{
  color: #ffffff;
  background: transparent;
}
.text-title .text-head{
  font-size: 20pt;
  height: 250px;
  line-height: 250px;
  padding-left: 30px;
  padding-right: 30px;
  background: transparent;
}
.text-information{
  font-size: 15px;
  padding: 30px;
  height: 50%;
}
.page-container{
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.pages{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#main.section{
  background-color: #ffffff;
  overflow:hidden;
  padding: 0px;
  height: 19%;
}
.section{
  width: 100%;
  padding: 2em 0;
  overflow-x: hidden;
}
.section:nth-child(2n){
  background: #ebe6e0;
}
#search-block{
  background-image: linear-gradient(200deg, rgba(124, 178, 40, 0.9) 0%, rgba(80, 179, 226, 0.9) 100%);
  box-shadow: rgba(0,0,0,0.15) 1px 1px 5px;
  position: relative;
  width: 50%;
  height: 50%;
  border-radius: 10px;
  top: 25%;
  padding: 2em;
  margin: 12% auto;
}
#most-popular{
  position: relative;
  width: 100%;
}
.organisations-bar{
  overflow: hidden;
  height: 200px;
  position: relative;
}
.organisations-container{
  position: absolute;
  width: 3000%;
  height: 200px;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.honor-org{
  position: relative;
  width: 200px;
  height:200px;
  display: inline-block;
}
.honor-org .star{
  width: 150px;
}
.honor-information{
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(0,0,0,0.5);
  color: white;
  width: 150px;
  height: 150px;
  line-height: 75px;
  text-align: center;
  opacity: 0;
}
#most-popular .nav-bar{
  position: relative;
  height: 200px;
}
#most-popular .nav-bar div{
  position: relative;
  height: 50px;
  width: 50px;
  margin-top: 50px;
  background: rgba(0,0,0,0.4);
}
#btn-menu{
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 300;
}
.nav-container{
  height: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.search-field{
  position: relative;
  padding-top: 100px;
}
.all-tags{
  position: relative;
  margin-bottom:20px ;
}
.ngo-profile{
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #cccccc;
}
.big-logo{
  position: relative;
  top: 50%;
  margin-top: 150px;
}
.skill-sets{
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #000000;
}
.show-information .skill-sets{
  margin-top: 10px;
  border-bottom: none;
  text-align: center;
}
.user-notification{
  position: relative;
  max-width: 100%;
  height: 400px;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}
.banner{
  position: absolute;
  top: 0px;
  width: 100%;
  height: 50px;
  background: rgba(52, 152, 219,1.0);
  color: white;
  line-height: 50px;
  padding-left: 10px;
}
.notification-container{
  position: absolute;
  top: 50px;
  width: 100%;
  height: 350px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-left: 1px solid #ccc ;
}
.notification-brief{
  position: relative;
  height: 60px;
  line-height: 50px;
}
.notification-brief:nth-child(2n){
  background: #eee;
}
.user-activities{
  position: relative;
  height: 300px;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}
.activities-container{
  position: absolute;
  top: 50px;
  height: 250px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  border-left: 1px solid #ccc ;
}
/*
Event NGO mangage
*/
.event-name{
  position: relative;
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding-left: 5px;
}
.event{
  position: relative;
  height: 70px;
  width: 100%;
  background: white;
  padding: 5px;
}
.event:nth-child(2n){
  background: #eeeeff;
}
.event-brief{
  position: relative;
  border-bottom: 1px solid #cccccc;
}
.delete-dialog{
  position: relative;
  width: 400px;
  border: 1px solid #cccccc;
  border-top: none ;
  padding-bottom: 40px;
}
.small-banner{
  position: relative;
  width: 400px;
  height: 30px;
  background: #3498db;
  color: white;
  line-height: 30px;
  padding-left: 20px;
}
.volunteer{
  position: relative;
  height: 50px;
  max-width: 300px;
}
.ngo-control-panel{
  position: relative;
  width: 100%;
  padding: 10px;
}
.ngo-control-panel li{
  display: inline-block;
  text-align: center;
  border-right: 1px solid  #000000;
  width: 25%;
}
.ngo-control-panel li:last-child{
  border-right: none;
}
//Job Manage
.job{
}
//representative
.representative{
  position: relative;
  width: 150px;
  height: 150px;
  cursor: pointer;
}
.representative.selected{
  border: 2px solid rgba(231, 76, 60,1.0);
}
.representative.selected::before{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 20px;
  height: 20px;
  background-color: rgba(231, 76, 60,1.0);
  color: white;
  font-size: 25pt;
  line-height: 20px;
  text-align: center;
  content: '\2713';
  -webkit-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}

.representative:hover:after{
  -webkit-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  position: absolute;
  content: '\2665';
  top: 0px;
  left: 0px;
  width: 150px;
  height: 150px;
  color: white;
  background-color: rgba(241, 196, 15,.5);
  line-height: 150px;
  font-size: 20pt;
  text-align: center;
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
}
.representative-container{
  position: relative;
  width: 100%;
}
.representative-name{
  position: relative;
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.home-input{
  margin-bottom: 5px;
  height: 50px;
  border: none;
  border: 1px solid white;
}
.home-input.left{
  border-top-right-radius: 0px;
  border-right: 1px solid #ccc ;

}

//NGO homepage
.main-info{
  position: relative;
  top: -70px;
}
.top-right{
  position: absolute;
  top: 0px;
  right: 0px;
}

//event-homepage
.event-header{
  position: relative;
  width: 100%;
  height: 200px;
}
.event-header img{
  width: 100%;
  height: 200px;
}
.event-detail{
  position: absolute;
  bottom:0px;
  height: 75px;
  width: 100%;
  line-height: 50px;
}
.event-information{
  position: relative;
  border-radius: 5px;
}
.event-content{
  position: relative;
}
.event-description{
  position: absolute;
  top: 50px;
  width: 100%;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  max-height: 200px;
}
.event-comments{
  position: absolute;
  top: 150px;
  width: 100%;
  border: 1px solid #cccccc;
}
.comment{
  position: relative;
  width: 100%;
}
.comment img{
  position: relative;
  top: 0px;
  display: inline-block;
}
.comment-content{
  position: relative;
  display: inline-block;
  top: 0px;
  width: auto;
  padding: 10px ;
}
//user-homepage
.avatar-user{
  position: absolute;
  bottom: -100px;
  height: 100%;
  width: 100%;
}
.avatar-user img{
  position: relative;
  width: 100px;
  height: 100px;
}
.info-show .skill-sets{
  border: none;
}
.representatives{
  position: absolute;
  top: 50px;
  width: 100%;
  height: auto;
  border: 1px solid #cccccc;
  border-top: none;
}
.representative-container, .project-container{
  position: relative;
  width: 100%;
  min-height: 300px;
}
.organization{
  position: relative;
}
.organization:hover .organization-information{
  background-color: rgba(0,0,0,0.1);
  color: white;
}
.organization-information{
  position: absolute;
  background-color: transparent;
  top: 0px;
  left: 0px;
  width: 150px;
  height: 150px;
  color: transparent;
  line-height: 150px;
  text-align: center;
}

/****************
* search Page
***************/
